<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm chuyên mục</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">    
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</head>
<body>
    <form method="post">
    <label for="">Tên chuyên mục:</label>
    <input type="text" name="catename" id="catename" required>       
    <button type="submit" class="button btn-primary">Thêm chuyên mục</button>
    </form>     
    <a href="{{ url_for('admin') }}" class="btn btn-primary">Quay lại</a>
</body>
</html>